<div class="card">
  <div class="card-header">Filtros</div>
  <div class="card-header">
    Por Autor:
  </div>
  <div class="card-body">


        <div id="authors"  *ngFor="let authorInfo of authorsInfo">
            <app-author-filter-item [authorInfo]="authorInfo"></app-author-filter-item>

        </div>


  </div>
  <div class="card-header">
    Por Preço:
  </div>
  <div class="card-body">

    <form method="get" action="#">
      <div class="form-group">
        <label for="minPrice">De</label>
        <input type="number" id="minPrice" name="minPrice" class="form-control" [(ngModel)]="minPrice">

      </div>
      <div class="form-group">
        <label for="maxPrice">Até</label>
        <input type="number" id="maxPrice" name="maxPrice" class="form-control" [(ngModel)]="maxPrice">

      </div>
      <a class="btn btn-primary btn-block btn-sm" [routerLink]="['books', minPrice, maxPrice]">Filtrar</a>

    </form>
  </div>

</div>
