<div class="card">
  <div class="card-header">Filtros</div>
  <div class="card-header">
    Por Autor:
  </div>
  <div class="card-body">
    <!--TODO: Listar autores e filtrar por autor automaticamente-->

    <form>
      <div class="form-group">
        <label for="de">Autor</label>
        <select id="authors" class="form-control">
          <option value="1">J. K. Rowling</option>
          <option value="2">Robert Galbraith</option>
          <option value="3">Suzanne Collins</option>
        </select>
      </div>
      <button class="btn btn-primary btn-block btn-sm">Filtrar</button>

    </form>

  </div>
  <div class="card-header">
    Por Preço:
  </div>
  <div class="card-body">

    <form>
      <div class="form-group">
        <label for="de">De</label>
        <input type="number" id="de" class="form-control">

      </div>
      <div class="form-group">
        <label for="de">Até</label>
        <input type="number" id="ate" class="form-control">
      </div>
      <button class="btn btn-primary btn-block btn-sm">Filtrar</button>

    </form>
  </div>

</div>
