/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Work+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

/****
Geral
****/
body{
  font-family: 'Work Sans', sans-serif;
  background-color: #ac71ef;
  color:#FFFFFF;
  margin:0;
  padding:0;
  font-size:100%;
  background-image: url('assets/images/avatarAdriana.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left bottom;

}
/****
Header
****/
div.cabecalho{
  font-family: 'Libre Bodoni', serif;
  background-color: #6e09e2;
  color:#FFFFFF;
  width:100%;
  margin:0;
  padding:0.5em;
  font-size:2em;
  font-weight: bold;

}
a.bookstoreTitle{
  text-decoration: none;
  color:#FFFFFF;;

}
a.bookstoreTitle:hover{
  color:#CCCCCC;

}


a.nav-link{
  color:#FFFFFF;
}
a.nav-link:hover{
  color:#CCCCCC;
}
a.nav-link:active,
a.nav-link:current
{
  color: #000000;
}

a.btn.btn-outline-primary{
  margin:1em;
  font-size:0.5em;
  color:#6e09e2;
  background-color: #FFFFFF;
}
a.btn.btn-outline-primary:hover{
  background-color: #6e09e2;
  color: #FFFFFF;

}
/****
Main
****/
main.main{
  font-family: 'Work Sans', sans-serif;
  color:#000000;
}

/****
Filter component
****/
div.card{
  color:#000000;
  margin:1em;
}
div.form-group{
  padding:0.5em;
}
input.radioButton{
  margin:0.5em;
}
/****
Product List component
****/
.book-list, .author-list{
  padding:0.5em;
  margin:2em;
  border: 2px #FFFFFF solid;
  border-radius: 20px
}
.titulosDePagina{
  font-family: 'Libre Bodoni', serif;
  color:#FFFFFF;
}
div.btn-group{
  margin:0.5em;
}
img.book,
img.author
{
  border-radius: 5px;
  box-shadow: 2px 2px rgba(204,204,204,.8);
}
a.btn.btn-info{
  background-color: #ac71ef;
  color:#FFFFFF;
  border-color:#ac71ef;

}
a.btn.btn-info:hover{
  background-color:#FFFFFF;
  color:#ac71ef;
}

input.btn.btn-primary,
button.btn.btn-primary,
a.btn.btn-primary{
  background-color: #6e09e2;
  color:#FFFFFF;
  border-color: #6e09e2;
}

input.btn.btn-primary:hover,
button.btn.btn-primary:hover,
a.btn.btn-primary:hover{
  background-color: #FFFFFF;
  color:#6e09e2;
}

/****
Footer
****/
footer.text-center{
  padding:1em;
  width:100%;

}
a.footer{
  color:#FFFFFF;
  text-decoration: none;
}
a.footer:hover{
  color:#CCCCCC;
}


