<div class="card shadow">
  <div class="card-header">
    {{ book.title }}
  </div>
  <div class="card-body">
    <img class="card-img-top book" alt="Capa do livro {{ book.title }}"src="{{'assets/images/books/' + book.id + '.png'}}">
    <p>Preço: {{ book.price | currency: 'BRL' }}</p>

    <div class="btn-group">
      <a class="btn btn-primary" href="books/{{book.id}}" (click)="onBuy($event)">Comprar</a>
      <a class="btn btn-info" href="books/{{book.id}}" (click)="onDetails($event)">Detalhes</a>
    </div>


  </div>

</div>
